<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% extends 'header.html' %}
    {% block content %}
<body>
  <div class="container">
    <div class="description">
      <h1> Oderman</h1>
        <p>
          Ласкаво просимо до нашої піцерії — місця,
          де традиції італійської кухні зустрічаються
          з сучасним підходом до створення ідеальної піци.
        </p>
      <h2> Про нас </h2>

         <form action="{{ url_for('submit') }}" method="post">
        {% for survey in surveys %}
    <div class="question">
        <label>{{ survey.question }}</label>
        <input type="text" name="answer" placeholder="Ваша відповідь" required>
        <input type="hidden" name="survey_id" value="{{ survey.id }}">
        <a href="{{ url_for('survey', survey_id=survey.id) }}">Переглянути відповіді</a>
    </div>
        {% endfor %}

        <button type="submit">Надіслати</button>
        </form>

<script src="{{ url_for('static', filename='script.js') }}"></script>
     </div>
    <img src="https://i.pinimg.com/564x/21/3a/ca/213acaf1812542295a7a35e047a9babb.jpg" alt="картинка">
  </div>
{% endblock %}


